.navbar {
    color:#10172b;
    font-family: var(--font-raleway);
    font-weight: 600;
    
}
.give_btn {
    padding: 10px 10px;
}


.logo img {
    max-width: 15rem;

   
}
.navbar-collapse {
    gap: 1rem;
}
.nav-underline {
    color: #10172b;
}
.affix {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: auto;
    background: #ffffff;
    border-bottom: white;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.32);
    z-index: 999;
    
}


.navbar-nav li {
    gap: 3rem;
}

.is-sticky {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: #ffffff;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    
}
.nav-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar-collapse {
    position: relative;
    align-items: flex-end;
    justify-content: space-around;
}
@media screen and (min-width: 768px) {
    .dropdown-content a:hover {background-color: #ddd;}

   .dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
}


@media screen and (max-width: 768px) {
    

    .logo img {
        max-width: 10rem;
        left: 1rem;
    }
    .nav-container {
        padding: 0 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-brand {
        padding-left: 0px;
    }
}


